* {margin: 0;padding: 0; font-family: 'Roboto', sans-serif;}
html,body {height: 100%;}
.nav>li{display: inline-block;}
.nav>li>a{text-decoration: none;display: block;color:white;height:50px;line-height: 50px;padding:0 22.6px; margin: 0 100px;}
.nav>li:first-of-type > a:hover{border-radius: 10px 0 0 10px;}
.nav>li:last-of-type > a:hover{border-radius: 0 10px 10px 0;}
.nav{background-color: #252525; border-radius: 10px;}
.nav>li>a:hover{background-color: #444;color: #ccc;}
.container{width: 1200px;margin: 0 auto;}
.banner{ height: 380px; overflow: hidden;}
.banner>ul>li{display: inline-block;}
.banner>ul{width: 2400px; animation:slide 5s infinite ease-in alternate;}
@keyframes slide{ from{margin-left: 0;} 50%{margin-left: -600px;} to{margin-left: -1200px;}}
.product{
	width: 388px; 
	border:1px #ddd solid;
	text-align: center;
	border-radius: 10px;
	float: left;
}
.product-image{text-align: center;}
.product-image:hover{opacity: 0.9;}
.product-info{padding: 5px;}
.product-info>h3{color:#23a1d1;font-family: arial; font-size:15px;}
.product-info-description{font-family: arial;font-size: 13px;color:#666; margin-top:10px;}
.product-info-price{color:#444; font-family: arial; margin-top:10px;}
.button{border:0;background-color: #eee;float: left;height: 40px;}
.button-cart{width: 60%;}
.button-default{width: 20%;border-left: 1px #ddd solid;}
.product-buttons{clear:both;height:40px;}
.flex{clear:both;}
.ex{width: 33.3%;height: 200px;float: left;}
.red{background-color: red;}
.green{background-color: green;}
.yellow{background-color: yellow;}
@media(max-width:800px){
    .ex{
        width: 50%;
    }            
}
@media(max-width:400px){
    .ex{
        width: 100%;
    }            
}
